/*O texto das tags 'h1' e 'p' estejam centralizados.*/
p, h1 {
  text-align: center;
}

/* A cor de fundo da sua lista mude quando o cursor estiver sobre o item */
li:hover{
  background: cornflowerblue;
}

/*A fonte do item mude quando ele for clicado.*/
li:active{
  font-size: 26px;
  font-family: fantasy;
}

li {
  list-style: none;
  transition: margin-left 4s;
}