.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2; /*Posicione o Mário acima do Goomba.*/

}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  top: 380px;
  left: 70px;
  ;
}

.baloon {
  top: 100px;
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 320px;         /*Posicione o balão para que se torne uma fala de Bowser.*/
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 3;
  top: 95px;          /*Posicione a tag p para que fique dentro do balão de fala. */
  left: 340px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 180px;
  left: 600px;
}